DB_HOST=your_db_host
DB_PORT=18068
DB_USER=root
DB_PASSWORD=your_assigned_password
DB_NAME=railway

MAIL_HOST=your_smtp_host
MAIL_PORT=587
MAIL_USERNAME=your_smtp_username
MAIL_PASSWORD=your_smtp_password
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=InternBoot